.new_note_page {
  gap: 2rem;
  margin: 2rem 0;
}

.new_note_showcase {
  color: var(--off-white);
  background-color: var(--default-hover);
  padding: 2rem;
  gap: 2rem;
  margin-bottom: 3rem;
  box-shadow: 0 0 5px rgb(0 0 0 / 60%);
  max-width: 80%;
  margin: auto;
  border-radius: 5px;
}

.new_note_wrapper {
  gap: 1rem;
}

.quill_editor {
  background-color: var(--white);
  color: var(--black);
}
