.header_container {
  background-color: var(--secondary-400);
  padding: 1rem 3.2rem;
}

.header_logo {
  font-weight: var(--font-w-medium);
}

.header_brand:hover {
  color: var(--text-color);
}

.header_src {
  max-width: 100%;
}

.header_src_input {
  width: 100%;
  border: 3px solid var(--secondary-hover);
  padding: 5px;
  max-height: 36px;
  border-radius: 5px 0 0 5px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: var(--secondary-400);
  font-size: var(--font-s-base);
  font-weight: var(--font-w-medium);
  transition: all 0.3s ease-in;
}

.header_src_input:focus {
  color: var(--secondary-color);
}

.header_src_btn {
  max-height: 36px;
  border: 1px solid var(--secondary-hover);
  background-color: var(--secondary-hover);
  color: var(--white);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: var(--font-s-xl);
  padding: 0.8rem;
}

.header_nav {
  padding: 1rem;
  margin-left: 0;
}

.header_list {
  gap: 3rem;
}

.header_item {
  gap: 5px;
}

.badge {
  cursor: pointer;
}

.header_item_text {
  font-size: var(--font-s-base);
  font-weight: var(--font-w-medium);
  color: var(--text-color);
}
