.header_container {
  background-color: var(--secondary-400);
  padding: 1rem 3.2rem;
}

.header_logo {
  font-weight: var(--font-w-medium);
}

.header_brand:hover {
  color: var(--text-color);
}

.header_nav {
  padding: 1rem;
  margin-left: 0;
}

.header_list {
  gap: 3rem;
}

.header_item {
  gap: 5px;
}

.badge {
  cursor: pointer;
}
