/* footer css */

footer {
  background: var(--secondary-400);
  padding: 2rem 0;
  gap: 1rem;
  color: var(--white);
  margin-top: auto;
}

.footer_head {
  font-size: var(--font-s-base);
}

.footer_head_link {
  font-size: var(--font-s-base);
  font-weight: var(--font-w-medium);
  color: var(--active-color);
}

.footer_head_link:hover {
  color: var(--active-hover);
}

/* social media css  */
.social_buttons {
  width: fit-content;
  gap: 1rem;
}

.social_icon {
  padding: 1rem;
  border: 5px solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.5s;
  font-size: var(--font-s-xl);
  color: var(--white);
}

.social_icon.github_icon {
  border-color: var(--github-color);
  background-color: var(--github-color);
}

.social_icon.github_icon:hover {
  color: var(--github-color);
  background-color: var(--white);
}

.social_icon.linkedin_icon {
  border-color: var(--linkedin-color);
  background-color: var(--linkedin-color);
}

.social_icon.linkedin_icon:hover {
  color: var(--linkedin-color);
  background-color: var(--white);
}

.social_icon.twitter_icon {
  border-color: var(--twitter-color);
  background-color: var(--twitter-color);
}

.social_icon.twitter_icon:hover {
  color: var(--twitter-color);
  background-color: var(--white);
}
